.menu {
	grid-area: nav;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 98;
	width: 300px;
	top: var(--header-hight);
	bottom: 0;
	left: 0;
	background: var(--module-bg-color);
	translate: -100% 0;
	transition: translate 0.3s ease;
	font-size: 18px;

	&.open {
		translate: 0;
	}
}

.menu.open ~ .modules {
	filter: blur(2px) brightness(0.5);

	@media (min-width: 800px) {
		filter: none;
	}
}

.menu-list {
	margin: 0;
	padding: 10px 0;
	list-style: none;
	box-shadow: inset 0 0 0 transparent;
	overflow-y: auto;
	overflow-x: hidden;
}

.menu-list-item {
	& a {
		color: #ccc;
		text-decoration: none;
		padding: 10px;
		display: block;
		transition: all 0.2s;

		&:hover,
		&:focus {
			background: rgba(255, 255, 255, 0.15);
			outline: none;
		}
	}

	&.current a {
		background: rgba(122, 150, 174, 0.25);
		box-shadow: inset 5px 0 0 var(--focus-color);
		padding-left: 20px;
	}
}

.menu-search {
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
	border: 1px solid var(--border-color);
	background-color: transparent;
	color: white;
	margin: 10px;
	transition: border 0.2s;

	&::-webkit-search-cancel-button {
		appearance: none;
		-webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
		background-color: var(--focus-color);
		background-size: 100%;
		height: 20px;
		width: 20px;
		cursor: pointer;
	}

	&:focus {
		outline: none;
		border-color: var(--focus-color);
	}
}

@media (min-width: 800px) {
	.menu {
		translate: 0;
	}
}
