<!doctype html>
<html lang="en">
  <head>
    <style>
      <%- css %>
    </style>
    <script>
      location.assign(`./<%= version %>${location.hash}`);
    </script>
  </head>

  <body>
    <p>
      <a href="./<%= version %>">Go to latest version of <b><%= packageName %></b></a>
    </p>
  </body>
</html>
